body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

@media (max-width: 600px) {
  .DataGrid {
    height: 400px;
  }
}
